<h1 class="">pipes <small>Angular</small></h1>

<div class="row">
  <div class="col">

    <table class="table">
        <thead class="thead-dark">
          <tr>

            <th>Variable</th>
            <th>Pipe</th>
            <th>Salida</th>

          </tr>
        </thead>
        <tbody>

          <tr>
            <td> {{ nombre }} </td>
            <td> uppercase </td>
            <td> {{ nombre | uppercase }} </td>
          </tr>
          <tr>
            <td> {{ nombre2 }} </td>
            <td> capitalizado
               </td>
            <td> {{ nombre2 | capitalizado }} </td>
          </tr>
          <tr>
            <td> {{ nombre }} </td>
            <td> lowercase </td>
            <td> {{ nombre | lowercase }} </td>
          </tr>
          <tr>
            <td> {{ ohanna }} </td>
            <td> slice:1 </td>
            <td> {{ ohanna | slice:1:3 }} </td>
          </tr>
          <tr>
            <!-- para no poner decimales -->
            <td> {{ PI }} </td>
            <td> number:'1.0-0' </td>
            <td> {{ PI | number:'1.0-0' }} </td>
          </tr>
          <tr>
            <!-- para poner tres enteros -->
            <td> {{ PI }} </td>
            <td> number:'3.0-0' </td>
            <td> {{ PI | number:'3.0-0' }} </td>
          </tr>
          <tr>
            <!-- para poner dos decimales -->
            <td> {{ PI }} </td>
            <td> number:'.0-2' </td>
            <td> {{ PI | number:'.0-2' }} </td>
          </tr>
          <tr>
            <!-- nos da la el número en porcentaje -->
            <td> {{ porcentaje }} </td>
            <td> percent </td>
            <td> {{ porcentaje | percent }} </td>
          </tr>
          <tr>
            <!-- nos da la el número en porcentaje -->
            <td> {{ porcentaje }} </td>
            <td> percent:'2.2-2' </td>
            <td> {{ porcentaje | percent:'2.2-2' }} </td>
          </tr>
          <tr>
            <!-- por defecto utiliza el dolar como referencia -->
            <td> {{ salario }} </td>
            <td> currency </td>
            <td> {{ salario | currency }} </td>
          </tr>
          <tr>
            <!-- pasa el número a euros con símbolo y sin decimales -->
            <td> {{ salario }} </td>
            <td> currency:'EUR € ':'symbol':'.0-0'  </td>
            <td> {{ salario | currency:'EUR € ':'symbol':'.0-0' }} </td>
          </tr>
          <tr>
            <!-- async -->
            <td> {{ valorPromesa }} </td>
            <td> async  </td>
            <td> {{ valorPromesa | async }} </td>
          </tr>
          <tr>
            <!-- Date -->
            <td> {{ fecha }} </td>
            <td> Date </td>
            <td> {{ fecha }} </td>
          </tr>
          <tr>
            <!-- Date y hora-->
            <td> {{ fecha }} </td>
            <td> date:'medium' </td>
            <td> {{ fecha | date:'medium'}} </td>
          </tr>
          <tr>
            <!-- Date y hora-->
            <td> {{ fecha }} </td>
            <td> date:'short' </td>
            <td> {{ fecha | date:'dd-MMMM':'medium'}} </td>
          </tr>
          <tr>
            <!-- Cambio de idioma-->
            <td> {{ fecha }} </td>
            <td> date:'short' </td>
            <td> {{ fecha | date:'dd-MMMM':'medium':'fr'}} </td>
          </tr>
          <tr>
            <!-- Cambio de idioma-->
            <td> {{ fecha }} </td>
            <td>
              date:'dd-MMMM':'medium':'{{ idioma }}'
              <br>
              <button (click)="idioma='es'"class="mr-1 btn btn-primary">Es</button>
              <button (click)="idioma='en'"class="mr-1 btn btn-secondary">En</button>
              <button (click)="idioma='fr'"class="mr-1 btn btn-success">Fr</button>
            </td>
            <td> {{ fecha | date:'dd-MMMM':'medium':idioma}} </td>
          </tr>
          <tr>
            <td> {{ nombre }} </td>
            <td>
              contrasena:{{ activar }}
              <br>
              <button (click)="activar = !activar" >
                Activar/Desactivar
              </button>
            </td>
            <td> {{ nombre | contrasena: activar }} </td>
          </tr>

    </table>

  </div>

</div>

<!-- Con el *ngFor hacemos un bucle para pintar el array de ohanna -->
<!-- Con el slice:1:3 quitamos los elementos 1 y 3 del objeto -->
<h4>Slice</h4>
<ul>
  <li *ngFor="let item of ohanna | slice"
  class="list-group-item"> {{ item }}</li>
</ul>


<!-- Pipe JSO  -->
<h3>JSON</h3>

<hr>
<div class="row mb-5">
  <div class="col">
    <!-- la etiqueta pre es de bootstrap para pintar más bonito un json -->
    <pre>
      {{ heroe | json }}
    </pre>
  </div>
</div>

<h3 class="mt-4"> DOM Seguro </h3>
<div class="col">
  <iframe width="560" height="315"
          [src]="videoUrl | domseguro"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
  </iframe>
</div>
